CompileFlags:
  Add: 
    - -Ic:/Users/cmpj/dev/playground/ShoppingAppFinal/include
    - -Ic:/Users/cmpj/dev/playground/ShoppingAppFinal/include/models
    - -Ic:/Users/cmpj/dev/playground/ShoppingAppFinal/include/services
    - -Ic:/Users/cmpj/dev/playground/ShoppingAppFinal/include/utils
    - -Ic:/Users/cmpj/dev/playground/ShoppingAppFinal/include/menu
    - -std=c++14
